//
// Variables
// --------------------------------------------------

//== Colors
//
// --------------------------------------------------
$white: #fff !default;
$black: #000 !default;
$red: red;
$grey: grey;
$orange: orange;
$blue:blue;

$brand-primary:       #02474f !default;
$brand:               #489889 !default;
$brand-light:         #dfedeb !default;
$brand-noteworthy:    #f5dcb2 !default;
$yellow:              #f2dab1;
$white-dark:          #d9d9d9;
$light-green:         #c2ddd8;



$font-size-base:        1.4rem !default;
$font-size-large:       1.6rem !default;
$font-size-small:       1.2rem !default;

$font-size-h1:          3.6rem !default;
$font-size-h2:          2.4rem !default;
$font-size-h3:          1.8rem !default;
$font-size-h4:          1.6rem !default;
$font-size-h5:          $font-size-base !default;
$font-size-h6:          1.2rem !default;
